<header>
  <div class="txt-center layout-column layout-align-center-center h-100 p-20">
    <img src="/assets/UnleashedLogo.png" class="img-cap p-20" />
  </div>
</header>
<div class="p-h-40 m-b-40">
  <div class="layout-row layout-wrap layout-align-start-start">
    <blockquote class="flex-100">
      <p>some guy</p>
      <small>This is something this guy said about us</small>
    </blockquote>
    <blockquote class="flex-100">
      <p>another guy</p>
      <small>This is something that guy said about us</small>
    </blockquote>
  </div>
</div>
