<div class="layout-row layout-align-start-start layout-wrap p-20">
  <md-card class="flex-gt-sm-50 flex m-20">
    <md-card-header>
      <md-card-title>Services</md-card-title>
      <md-card-subtitle>development services</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="/assets/development.png">
    <md-card-content>
      <p>
        This is an overview of our development services
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button routerLink="/development/services">MORE</button>
    </md-card-actions>
  </md-card>
</div>
