<div class="layout-row layout-align-start-start layout-wrap p-20">
  <md-card class="flex-50 m-20">
    <md-card-header>
      <md-card-title>Services</md-card-title>
      <md-card-subtitle>design services</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="/assets/design.png">
    <md-card-content>
      <p>
        This is an overview of our design services
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button routerLink="/design/services">MORE</button>
    </md-card-actions>
  </md-card>
</div>
